In [1]:
import pandas as pd

table = pd.DataFrame(index=['Bowl 1', 'Bowl 2'])

In [2]:
table['prior'] = 1/2, 1/2
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [3]:
table['likelihood'] = 3/4, 1/2
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [4]:
table['unnorm'] = table['prior'] * table['likelihood']
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [5]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [6]:
table['posterior'] = table['unnorm'] / prob_data
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

In [7]:
table2 = pd.DataFrame(index=[6, 8, 12])

In [8]:
from fractions import Fraction

table2['prior'] = Fraction(1, 3)
table2['likelihood'] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [9]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [10]:
prob_data = update(table2)

In [11]:
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [12]:
table3 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
table3['prior'] = Fraction(1, 3)
table3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [13]:
table3['likelihood'] = Fraction(1, 2), 1, 0
table3

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [14]:
# Solution

table4 = pd.DataFrame(index=['Normal', 'Trick'])
table4['prior'] = 1/2
table4['likelihood'] = 1/2, 1

update(table4)
table4

        prior  likelihood  unnorm  posterior
Normal    0.5         0.5    0.25   0.333333
Trick     0.5         1.0    0.50   0.666667

In [15]:
# Solution

table5 = pd.DataFrame(index=['GG', 'GB', 'BG', 'BB'])
table5['prior'] = 1/4
table5['likelihood'] = 1, 1, 1, 0

update(table5)
table5

    prior  likelihood  unnorm  posterior
GG   0.25           1    0.25   0.333333
GB   0.25           1    0.25   0.333333
BG   0.25           1    0.25   0.333333
BB   0.25           0    0.00   0.000000

In [16]:
# Solution

# If the car is behind Door 1, Monty would always open Door 2 
# If the car was behind Door 2, Monty would have opened Door 3
# If the car is behind Door 3, Monty would always open Door 2

table6 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
table6['prior'] = 1/3
table6['likelihood'] = 1, 0, 1

update(table6)
table6

           prior  likelihood    unnorm  posterior
Door 1  0.333333           1  0.333333        0.5
Door 2  0.333333           0  0.000000        0.0
Door 3  0.333333           1  0.333333        0.5

In [17]:
# Solution

# If the car is behind Door 1, Monty would have opened Door 2
# If the car is behind Door 2, Monty would always open Door 3
# If the car is behind Door 3, Monty would have opened Door 2

table7 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
table7['prior'] = 1/3
table7['likelihood'] = 0, 1, 0

update(table7)
table7

           prior  likelihood    unnorm  posterior
Door 1  0.333333           0  0.000000        0.0
Door 2  0.333333           1  0.333333        1.0
Door 3  0.333333           0  0.000000        0.0

In [18]:
# Solution

# Hypotheses:
# A: yellow from 94, green from 96
# B: yellow from 96, green from 94

table8 = pd.DataFrame(index=['A', 'B'])
table8['prior'] = 1/2
table8['likelihood'] = 0.2*0.2, 0.14*0.1

update(table8)
table8

   prior  likelihood  unnorm  posterior
A    0.5       0.040   0.020   0.740741
B    0.5       0.014   0.007   0.259259